    <% if (reviews.length > 0) { %>

      <% reviews.forEach(function(reviews){ %>
        <tr id="reviews-list" class="list-unstyled">
          <td>
            <h4><a class="show-btn" data-url="/api/my/reviews/<%= reviews.id %>" data-method="GET"><%= reviews.title %></a></h4>
          </td>

          <td class="d-flex">
            <button class="edit-btn btn-dark btn-lg me-1" data-url="/api/my/reviews/<%= reviews.id %>/edit" data-method="GET">
              <h5 class="fas fa-edit"></h5>
            </button>

            <button class="delete-btn btn btn-danger btn-sm" data-url="/api/my/reviews/<%= reviews.id %>" data-method="DELETE">
              <h5 class="fas fa-trash"></h5>
            </button>
          </td>

          <td>
            <h4<%= reviews.title %></h4>
          </td>
        </tr>
      <% }) %>
    <% } else { %>
    <div>No Reviews</div>
    <% } %>
  </table>
</div>
