<%- contentFor('meta') %>
<title>My reviews</title>

<%- contentFor('styles') %>
  <style>
    body {
      background-image: url(https://wallpapercave.com/wp/wp3409440.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center center;
    }
  </style>

<%- contentFor('scripts') %>
<script src="/js/my-reviews/index-control.js" defer></script>
<script src="/js/my-reviews/input-control.js" defer></script>


<%- contentFor('body') %>
<div id="my-reviews-list" class="container reviewBox p-4 text-center">
  <h1 class='text-white'>My Reviews</h1>

  <button id="new-btn" class="btn btn-primary btn-lg my-3" data-url="/api/my/reviews/new" data-method="GET" >New review</button>

  <table>
    <!-- table header -->
    <tr>
      <th class="w-50"><h3 class="title">Equipment</h3></th>
      <th class="w-20"><h3>&#160<h3></h3></th>
      <th class="w-50"><h3 class="title">My ratings</h3></th>
    </tr>
    <% if (reviews.length > 0) { %>
      <% reviews.forEach(function(review){ %>
        <tr id="reviews-list" class="list-unstyled">
          <td>
            <h4><a class="show-btn text-white text-decoration-none" data-url="/api/my/reviews/<%= review.id %>" data-method="GET"><%= review.Equipment.name %></a></h4>
          </td>

          <td class="d-flex">
            <button class="edit-btn btn-dark btn-lg me-1" data-url="/api/my/reviews/<%= review.id %>/edit" data-method="GET">
              <h5 class="fas fa-edit"></h5>
            </button>

            <button class="delete-btn btn btn-danger btn-lg" data-url="/api/my/reviews/<%= review.id %>" data-method="DELETE">
              <h5 class="fas fa-trash"></h5>
            </button>
          </td>

          <td>
            <h4><%= review.rating %></h4>
          </td>
        </tr>
      <% }) %>
    <% } else { %>
    <div>No Reviews</div>
    <% } %>
  </table>
</div>

<%- include('../../_partials/modal') %>
