<form id="equipment-form" novalidate>
  <div class="form-group">
    <h4 class="text-white">Equipment:</h4>
    <input
      class="form-control"
      type="text"
      name="title"
      data-error-ref="title"
      value="<%= Rating.Equipment.name%>"
      required>
    <div class="invalid-feedback"></div>
  </div>

  <div class="form-group">
    <h4 class="text-white pt-3">Rating:</h4>
    <select
      class="form-select"
      aria-label="Default select example"
      name="rating"
      data-error-ref="rating"
      required
    >
      <option <%= Rating.rating === 1 ? 'selected' : '' %> value="1">1</option>
      <option <%= Rating.rating === 2 ? 'selected' : '' %> value="2">2</option>
      <option <%= Rating.rating === 3 ? 'selected' : '' %> value="3">3</option>
      <option <%= Rating.rating === 4 ? 'selected' : '' %> value="4">4</option>
      <option <%= Rating.rating === 5 ? 'selected' : '' %> value="5">5</option>
    </select>
    <div class="invalid-feedback"></div>
    <div class="form-text text-body">5 is the highest, 1 is the lowest</div>
  </div>

  <div class="form-group">
    <h4 class="text-white pt-3">Comment:</h4>
    <input
      class="form-control"
      type="text"
      name="comment"
      data-error-ref="comment"
      maxlength="255"
      value="<%= Rating.Equipment.Comments[0].comment %>"
      required>
    <div class="invalid-feedback"></div>
    <div class="form-text text-body">Limited to 255 characters</div>
  </div>
</form>
